<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DebugCanvasWpf.DotNetFramework" version="1.0.2" targetFramework="net472" />
  <package id="netDxf.netstandard" version="2.3.0" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
</packages>